.book-review-admin {
  width: 70%;
}

.book-review-admin input[readonly] {
  background: #fff;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.book-review-admin input[type="radio"]:not(:first-child) {
  margin-left: 10px;
}

.book-review-admin input.text-input {
  width: 400px;
}

.book-review-admin .rating span:before {
  content: "";
}

/* Custom Links */
.book-review-admin .target-container {
  margin-bottom: 0;
}

.book-review-admin .links th {
  overflow: visible;
  line-height: normal;
}

.book-review-admin .links th span {
  font-family: sans-serif;
  font-size: 12px;
}

.book-review-admin .links .active {
  text-align: center;
}

.book-review-admin .add-link {
  margin-top: 10px;
}

/* Tooltips */
.book-review-admin a.tooltip
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}

.book-review-admin a.tooltip img {
  vertical-align: bottom;
}

.book-review-admin a.tooltip span
{
  visibility: hidden;
  position: absolute;
  font-weight: normal;
  z-index: 999;
  width: 300px;
  padding: 5px;
  margin-left: 5px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5),
    rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5),
    rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5),
    rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5),
    rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5)
    inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.book-review-admin a.tooltip:hover span
{
  visibility: visible;
}

.book-review-admin a.tooltip:link,
.book-review-admin a.tooltip:visited,
.book-review-admin a.tooltip:hover,
.book-review-admin a.tooltip:active {
  color: #333;
}