.book-review-admin {
  width: 70%;
}

.book-review-admin p {
  font-size: 14px;
}

.book-review-admin input[readonly] {
  /* Display & Box Model */
  border: 0;

  /* Visual */
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.book-review-admin input[type="radio"]:not(:first-child) {
  margin-left: 10px;
}

/* Rating Images */
.rating {
  display: none;
}

/* Links */
.book-review-admin .target-container {
  margin-bottom: 0;
}

.book-review-admin .links th {
  /* Display & Box Model */
  overflow: visible;

  /* Visual */
  line-height: normal;
}

.book-review-admin .links .text {
  width: 25%;
}

.book-review-admin .links .url {
  width: 60%;
}

.book-review-admin .links input[type="text"] {
  width: 100%;
}

.book-review-admin .links .active {
  text-align: center;
}

.book-review-admin .add-link,
.book-review-admin .add-field {
  margin-top: 10px;
}

/* Custom Fields */
.book-review-admin #fields {
  max-width: 400px;
}

.book-review-admin #fields .label {
  width: 75%;
  max-width: 300px;
}

.book-review-admin .field {
  /* Display & Box Model */
  padding: 12px;
  border: 1px solid #e5e5e5;
  margin: 6px 0 0;

  /* Visual */
  background: #fff;
  font-size: 13px;
  line-height: 1.4em;
  cursor: move;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
  box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.book-review-admin .ui-sortable-placeholder {
  /* Display & Box Model */
  height: 55px;
  border: 2px dashed #aaa;

  /* Visual */
  background: #e4e4e4;
}

.book-review-admin .field .dashicons {
  /* Positioning */
  float: right;

  /* Display & Box Model */
  margin: 5px 0;
}