.book-review-meta .row {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.book-review-meta label {
  /* Display & Box Model */
  display: inline-block;
  width: 15%;
  padding-left: 1em;
  padding-right: 1em;
  /* Offset whitespace between 2 inline-block elements. */
  margin-right: -4px;

  /* Visual */
  font-weight: bold;
}

.book-review-meta select {
  width: 100px;
}

.book-review-meta .cover-image {
  max-height: 150px;
}

.book-review-meta .cover-image,
.book-review-meta .rating-image {
  /* This is based on the width and padding of the label. */
  margin-left: 15%;
  padding-top: 5px;
  padding-left: 2em;
}

.book-review-meta input[type="text"],
.book-review-meta #wp-book_review_summary-wrap {
  /* Display & Box Model */
  display: inline-block;
  width: 60%;

  /* Visual */
  vertical-align: middle;
}

.book-review-meta input[type="text"].short {
  width: 30%;
}

.book-review-meta #wp-book_review_summary-wrap {
  padding-bottom: 0.83333333333333em;
}

.book-review-meta .summary {
  vertical-align: top;
}

.book-review-meta .button-primary:active {
  vertical-align: baseline;
}

.book-review-meta .required {
  color: red;
}

.book-review-meta .spinner {
  vertical-align: baseline;
  float: none;
}

.book-review-meta .error-details {
  /* Display & Box Model */
  display: none;
  padding: 15px;
  border: 1px solid #ebccd1;
  margin-bottom: 20px;

  /* Visual */
  color: #a94442;
  background-color: #f2dede;
  border-radius: 4px;
}